@import '../theme';

@aui-restfultable-row-focused-border-color: @ak-color-N60;
@aui-restfultable-row-focused-horizontal-border-width: 2px;
@aui-restfultable-row-create-border: @aui-color-ash-gray;
@aui-restfultable-row-editable-hover-bg-color: @aui-form-field-hover-bg-color;
@aui-restfultable-error-text-color: @aui-color-red;
@aui-restfultable-header-row-bg-color: @aui-color-white;
@aui-restfultable-header-row-text-color: @ak-color-N200;
@aui-restfultable-row-moving-bg-color: @aui-color-light-gray;
@aui-restfultable-editable-em-text-color: @aui-color-gray;
@aui-restfultable-row-active-bg-color: @aui-color-light-gray;
@aui-restfultable-row-hover-bg-color: @aui-color-light-gray;
