<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{rootPath}}index.css">
    <style>
        body {
            background-color: transparent;
        }

        .aui-flatpack-example {
            margin: 0;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.js"></script>
    <script>delete window.define.amd;</script>
    <script src="{{rootPath}}index.js"></script>
</head>
<body>
{{{ contents }}}
</body>
</html>
